.home-slide {
  height: 100vh;
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &#home-slide-1 {
    h1 {
      font-size: 90px;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
    }
    h2 {
      font-size: 26px;
      font-weight: 400;
      color: #ffffff;
    }
    .scroll-for-more {
      position: absolute;
      bottom: 50px;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &#home-slide-2,
  &#home-slide-3,
  &#home-slide-4 {
    flex-direction: row;
    .left-cont {
      max-width: 625px;
      text-align: left;
      flex-shrink: 0;
      h2 {
        font-size: 70px;
        line-height: 81px;
        font-weight: 300;
        color: #000000;
      }
      p {
        font-size: 18px;
        line-height: 34px;
        font-weight: 400;
        color: #000000;
        margin-top: 20px;
      }
      button {
        width: 182px;
        height: 42px;
        border-radius: 5px;
        border: none;
        margin-top: 50px;
        background-image: -webkit-linear-gradient(to right, #4973FF , #FF2E2E);
        background-image: linear-gradient(to right, #4973FF , #FF2E2E);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        font-weight: 700;
        font-size: 14px;
        line-height: 42px;
        text-align: left;
        cursor: pointer;
        outline: none;
        img {
          margin-left: 10px;
          transition: margin-left 0.2s ease-in-out;
        }
        &:hover {
          img {
            margin-left: 20px;
          }
        }
      }
    }
    .right-cont {
      max-width: 385px;
      .home-slide-img {
        max-width: 85%;
        height: auto;
      }
    }
  }
  &#home-slide-5 {
    flex-direction: column;
    h3 {
      font-size: 40px;
      font-weight: 400;
      color: #fff;
      margin-top: 70px;
    }
    span {
      font-size: 16px;
      line-height: 1.5;
      display: block;
      &.bold {
        font-size: 14px;
        font-weight: 700;
      }
    }
    button {
      width: 283px;
      height: 59px;
      border: 2px solid #fff;
      border-radius: 5px;
      color: #fff;
      line-height: 59px;
      font-size: 18px;
      font-weight: 700;
      background-color: transparent;
      text-transform: uppercase;
      margin-top: 23px;
      cursor: pointer;
      transition: transform 0.5s ease;
      flex-shrink: 0;
      &:hover {
        transform: scale(1.05);
      }
    }
    #footer {
      margin-top: 150px;
      display: flex;
      text-align: left;
      max-width: 850px;
      margin-left: 100px;
      h4 {
        font-size: 18px;
        font-weight: 700;
      }
      #contact-and-join-wrapper {
        display: flex;
        flex: 2;
        #contact {
          flex: 1;
          padding-right: 50px;
          div {
            margin-top: 20px;
          }
        }
        #join {
          flex: 1;
          padding-right: 50px;
          div {
            margin-top: 20px;
          }
        }
      }
      #latest {
        flex: 1.3;
        padding-right: 50px;
        div {
          margin-top: 20px;
        }
      }
    }
  }
}

.social-navigation-component {
  position: absolute;
  top: calc(50vh - 80px);
  left: 35px;
  ul {
    li {
      display: block;
      margin: 12px 0;
    }
  }
}

.slide-navigation-component {
  height: 350px;
  position: absolute;
  top: calc(50vh - 175px);
  right: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .slide-nav-btn {
    flex: 1;
    width: 2px;
    background-color: #000;
    margin: 3px 0;
    cursor: pointer;
    transition: flex 0.5s ease;
    &.current {
      flex: 0.1;
    }
  }
}

#pagination {
  position: absolute;
  bottom: 65px;
  right: 35px;
  font-size: 22px;
  font-weight: 700;
}

.fadeOut-leave-active {
  animation: fadeOutUp 0.2s ease-out forwards;
}

.animation-delay-1 {
  animation-delay: 0.2s;
}

.animation-delay-2 {
  animation-delay: 0.4s;
}

.animation-delay-3 {
  animation-delay: 0.6s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
}

@media (max-width: 1600px) {
  .home-slide {
    &#home-slide-1 {
      h1 {
        font-size: 73px;
      }
      h2 {
        font-size: 22px;
      }
    }
    &#home-slide-2,
    &#home-slide-3,
    &#home-slide-4 {
      .left-cont {
        max-width: 540px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .home-slide {
    &#home-slide-2,
    &#home-slide-3,
    &#home-slide-4 {
      .left-cont {
        max-width: 470px;
        h2 {
          font-size: 58px;
          line-height: 63px;
        }
        p {
          font-size: 16px;
          line-height: 30px;
          margin-top: 11px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .home-slide {
    &#home-slide-1 {
      h1 {
        font-size: 54px;
      }
      h2 {
        font-size: 18px;
      }
    }
    &#home-slide-2,
    &#home-slide-3,
    &#home-slide-4 {
      .right-cont {
        .home-slide-img {
          margin-left: 70px;
        }
      }
      .left-cont {
        max-width: 365px;
        h2 {
          font-size: 50px;
          line-height: 56px;
        }
        p {
          font-size: 14px;
          line-height: 26px;
        }
        button {
          margin-top: 40px;
        }
      }
    }
    &#home-slide-2 {
      .home-slide-img {
        width: 307px;
        height: 460px;
      }
    }
    &#home-slide-3 {
      .home-slide-img {
        width: 454px;
        height: 454px;
      }
    }
    &#home-slide-4 {
      .home-slide-img {
        width: 479px;
        height: 392px;
      }
    }
  }
}

@media (max-width: 992px) {
  .home-slide {
    &#home-slide-1 {
      h1 {
        font-size: 54px;
      }
      h2 {
        font-size: 18px;
      }
    }
    &#home-slide-2,
    &#home-slide-3,
    &#home-slide-4 {
      flex-direction: column-reverse;
      .right-cont {
        .home-slide-img {
          margin-top: -70px;
          margin-bottom: 20px;
          margin-left: 0;
        }
      }
      .left-cont {
        max-width: 540px;
        button {
          margin-top: 20px;
        }
      }
    }
    &#home-slide-2 {
      .home-slide-img {
        width: 246px;
        height: 368px;
      }
    }
    &#home-slide-3 {
      .home-slide-img {
        width: 363px;
        height: 363px;
      }
    }
    &#home-slide-4 {
      .home-slide-img {
        width: 383px;
        height: 314px;
      }
    }
    &#home-slide-5 {
      h3 {
        font-size: 30px;
        margin-top: 90px;
      }
      button {
        width: 250px;
        height: 55px;
        font-size: 18px;
        margin-top: 40px;
        line-height: 55px;
      }
    }
  }
}

@media (max-width: 960px) {
  .home-slide {
    &#home-slide-5 {
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        margin-top: 0;
      }
      #footer {
        display: none !important;
      }
    }
  }
}

@media (max-width: 577px) {
  .home-slide {
    padding: 0 70px;
    overflow: hidden;
    &#home-slide-1 {
      h1 {
        color: #333;
      }
      h2 {
        color: #333;
      }
      .scroll-for-more {
        color: #333;
      }
    }
    &#home-slide-2,
    &#home-slide-3,
    &#home-slide-4 {
      .right-cont {
        height: 300px;
        .home-slide-img {
          max-height: 100%;
          width: auto;
          margin-top: 0;
        }
      }
      .left-cont {
        h2 {
          font-size: 30px;
          line-height: 40px;
          margin-top: 15px;
        }
      }
    }
    &#home-slide-5 {
      flex-direction: column;
      h3 {
        color: #333;
      }
      button {
        border: 2px solid #333;
        color: #333;
      }
    }
  }
}
