#loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, #4973FF, #FB3033);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-size: 30px;
  transition: all 2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  &.state-full {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
  &.home-loader {
    clip-path: url(#home-svg);
  }
  &.home-svg-1 {
    left: 0;
    top: 0;
  }
  &.home-svg-2 {
    left: 0;
    top: 0;
  }
  &.home-svg-3 {
    left: 0;
    top: 0;
  }
  &.home-svg-4 {
    left: 0;
    top: 0;
  }
  &.home-svg-5 {
    left: 0;
    top: 0;
  }
  &.state-portfolio {
    clip-path: polygon(25% 41%, 0% 100%, 50% 5%, 10% 41%);
  }
}
