.portfolio-wrapper {
  section {
    text-align: left;
  }
  .portfolio-top-section {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .portfolio-main-title {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
  }
  .portfolio-main-subtitle {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #5B5C5F;
    margin-top: 35px;
  }
  .portfolio-main-location-text {
    font-size: 16px;
    font-weight: 700;
    color: #898A89;
    margin-top: 70px;
  }
  .portfolio-section-main-title {
    font-weight: 300;
    font-size: 40px;
  }
  .portfolio-section-title {
    font-weight: 300;
    font-size: 28px;
    margin-top: 100px;
  }
  .portfolio-section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-top: 30px;
  }
  .text-white {
    color: #FFFFFF;
  }
  .text-grey-9c {
    color: #9C9C9C;
  }
  .margin-bottom-40 {
    margin-bottom: 40px;
  }
  .z-index-1 {
    z-index: 1;
  }
  @media (min-width: 992px) {
    .margin-lg-0 {
      margin: 0;
      margin-top: 0 !important;
    }
    .section-item-lg-margin-top {
      margin-top: 120px;
    }
    .portfolio-main-title {
      font-size: 70px;
    }
    .portfolio-section-main-title {
      font-size: 50px;
    }
    .portfolio-section-title {
      font-size: 36px;
    }
  }
  @media (min-width: 1200px) {
    .section-item-lg-margin-top {
      margin-top: 150px;
    }
    .portfolio-main-title {
      font-size: 81px;
    }
    .portfolio-main-subtitle {
      font-size: 18px;
    }
    .portfolio-section-main-title {
      font-size: 60px;
    }
    .portfolio-section-title {
      font-size: 40px;
    }
  }
}
